<div id="book_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @book.title %></h1>
			<p class="description"><%= @book.description %></p>
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to books_path do %>
			All Books
			<span>/</span>
			Test
		<% end %>
	</div>

	<div id="posts">
		<div class="wrapper_skinny">
			<ul class="cf">
				<% @posts.each do |post| %>
					<li class="cf">
						<div class="post_thumbnail">
							<%= link_to image_tag(post.thumbnail.url(:medium)), book_post_path(@book, post) %>
							<div class="post_overview">
								<p class="description"><%=link_to post.description, book_post_path(@book, post) %></p>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

		<%= will_paginate @posts, previous_label: "上一页", next_label: "下一页" %>

