<%= form_for ([@book, @post]) do |f| %>

	<div class="field">
		<%= f.label :picture %><br>
		<%= f.file_field :thumbnail %>
	</div>

	<div class="field">
		<%= f.label :post_number %><br>
		<%= f.text_field :id %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :mp3 %><br>
		<%= f.file_field :mp3 %>
	</div>

	<%= f.submit class: "button button_highlight button_block" %>
<% end %>