<div id="book_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @book.title %></h1>
		</div>
	</div>

	<div id="links">
		<div class="wrapper_skinny">
			<ul>
				<li><%= link_to "Pages", root_path %></li>
				<li class="current" >Add New Page</li>
				<li><%= link_to "Book Settings", edit_book_registration_path %></li>
				<li><%= link_to "View Books", books_path %></li>
			</ul>
		</div>
	</div>

	<div id="form">
		<div class="wrapper_skinny">
<%= form_for ([@book, @post]) do |f| %>

	<div class="field">
		<%= f.label :picture %><br>
		<%= f.file_field :thumbnail %>
	</div>

	<div class="field">
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :mp3 %><br>
		<%= f.file_field :mp3 %>
	</div>

	<%= f.submit class: "button button_highlight button_block" %>
<% end %>		</div>
	</div>
</div>
